<section class="leagues">
  <app-navbar [selectedItem]="'Leagues'" class="app-nav" />
  <main class="leagues-body">
    <app-slider-matches [sliderType]="'leagues'" [league]="'CL'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'PL'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'PD'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'SA'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'BL1'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'FL1'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'DED'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'PPL'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'EC'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'CLI'" />
    <app-slider-matches [sliderType]="'leagues'" [league]="'BSA'" />
  </main>
</section>
